* {
    box-sizing: border-box;
}

h1,
p,
body {
    margin: 0;
    padding: 0;
}

body {
    background-color: beige;
    display: grid;
    min-height: 100vh;
    place-content: center;
    text-align: center;
}


.key {
    border: 2px solid firebrick;
    font-size: 1.25rem;
    padding: 1rem;
    width: 60px;
    height: 60px;
    margin: 1rem;
    transition: all .5s;
}

.playing {
    transform: scale(1.2);
    border-color: rgb(90, 34, 34);
}

.drums {
    display: flex;
}

.drums div p {
    display: flex;
    flex-flow: column;

}

span {
    font-size: .75rem;
}