* {
    box-sizing: border-box;
}

body,
p {
    margin: 0;
    padding: 0;
    background-color: rgb(174, 174, 174);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: grid;
    min-height: 100vh;
    place-content: center;
}

main {
    display: flex;
    background-color: rgb(136, 182, 255);
    padding: 2rem;
    text-align: center;
    border-radius: 12px;
    box-shadow: 3px 3px 4px 5px rgba(0, 0, 0, 0.329);
}

p {
    margin: .5rem;
    font-size: 2rem;
    background-color: aliceblue;
    padding: .5rem .5rem;
    min-width: 185px;
    border-radius: 8px;
    box-shadow: 3px 3px 4px 3px rgba(0, 0, 0, 0.329);
    background-color: rgb(218, 218, 218);
}