* {
    box-sizing: border-box;
}

h1,
p,
span,
body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: grid;
    min-height: 100vh;
    place-content: center;
}

h1 {
    margin-bottom: 1rem;
}

main {
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.406);
    text-align: center;
    font-size: 1.25rem;
}

button {
    font-family: inherit;
    outline: none;
    padding: .5rem 1rem;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 700;
    margin-top: 1rem;
}